.container {
  background-color: white;
  padding: 25px;
  border-radius: 5px;
  width: 50%;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(231, 231, 231);
}

.btn {
  cursor: pointer;
  margin-top: 15px;
  background-color: rgb(34, 158, 230);
  padding: 8px 25px;
  color: white;
  border: none;
  border-radius: 5px;
}
